Extract:

In [14]:
# Import Dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [15]:
# Read in Traffic CSV files
traffic_14 = pd.read_csv("TA_Traffic_2014.csv")
traffic_15 = pd.read_csv("TA_Traffic_2015.csv")
traffic_16 = pd.read_csv("TA_Traffic_2016.csv")
traffic_17 = pd.read_csv("TA_Traffic_2017.csv")
traffic_18 = pd.read_csv("TA_Traffic_2018.csv")

In [16]:
# Read in Weather CSV files
weather_df = pd.read_csv("Istanbul Weather Data.csv")
# Read in Turkish Airline Stock Data
stock_df = pd.read_csv("cleanThy.csv")

In [17]:
#Preview Data
#traffic_14.head()
#traffic_15.head()
#traffic_16.head()
#traffic_17.head()
#traffic_18.head()

In [18]:
# Transpose/Round Traffic Data
traffic_14t = traffic_14.T.round(2)
traffic_15t = traffic_15.T.round(2)
traffic_16t = traffic_16.T.round(2)
traffic_17t = traffic_17.T.round(2)
traffic_18t = traffic_18.T.round(2)


#Preview Transpose Data
#traffic_14t.head()

#Reset Columns/Index - '14'
traffic_14t.rename(columns=traffic_14t.iloc[0])
headers = traffic_14t.iloc[0]
t14_df = pd.DataFrame(traffic_14t.values[1:], columns=headers)

#Reset Columns/Index - '15'
traffic_15t.rename(columns=traffic_15t.iloc[0])
headers = traffic_15t.iloc[0]
t15_df = pd.DataFrame(traffic_15t.values[1:], columns=headers)

#Reset Columns/Index - '16'
traffic_16t.rename(columns=traffic_16t.iloc[0])
headers = traffic_16t.iloc[0]
t16_df = pd.DataFrame(traffic_16t.values[1:], columns=headers)

#Reset Columns/Index - '17'
traffic_17t.rename(columns=traffic_17t.iloc[0])
headers = traffic_17t.iloc[0]
t17_df = pd.DataFrame(traffic_17t.values[1:], columns=headers)

#Reset Columns/Index - '18'
traffic_18t.rename(columns=traffic_18t.iloc[0])
headers = traffic_18t.iloc[0]
t18_df = pd.DataFrame(traffic_18t.values[1:], columns=headers)

#Preview Adjustment
#t14_df.head()
#t15_df.head()

In [19]:
#t14_df.dtypes

In [20]:
#Correct Data Types - 14

t14_df = t14_df.astype({'No_Landing': 'float64',
               'Available_Seats_Km': 'float64',
               'Revenue_Passenger_Km': 'float64',
               'Passenger_Load_Factor': 'float64',
               'Passengers_Carried': 'float64',
               'Cargo_and_Mail': 'float64',
               'Km_Flown': 'float64',
               'Int_Trns_Pass_Carried': 'float64'})

#Correct Data Types - 15

t15_df = t15_df.astype({'No_Landing': 'float64',
               'Available_Seats_Km': 'float64',
               'Revenue_Passenger_Km': 'float64',
               'Passenger_Load_Factor': 'float64',
               'Passengers_Carried': 'float64',
               'Cargo_and_Mail': 'float64',
               'Km_Flown': 'float64',
               'Int_Trns_Pass_Carried': 'float64'})

#Correct Data Types - 16

t16_df = t16_df.astype({'No_Landing': 'float64',
               'Available_Seats_Km': 'float64',
               'Revenue_Passenger_Km': 'float64',
               'Passenger_Load_Factor': 'float64',
               'Passengers_Carried': 'float64',
               'Cargo_and_Mail': 'float64',
               'Km_Flown': 'float64',
               'Int_Trns_Pass_Carried': 'float64'})

#Correct Data Types - 17

t17_df = t17_df.astype({'No_Landing': 'float64',
               'Available_Seats_Km': 'float64',
               'Revenue_Passenger_Km': 'float64',
               'Passenger_Load_Factor': 'float64',
               'Passengers_Carried': 'float64',
               'Cargo_and_Mail': 'float64',
               'Km_Flown': 'float64',
               'Int_Trns_Pass_Carried': 'float64'})

#Correct Data Types - 18

t18_df = t18_df.astype({'No_Landing': 'float64',
               'Available_Seats_Km': 'float64',
               'Revenue_Passenger_Km': 'float64',
               'Passenger_Load_Factor': 'float64',
               'Passengers_Carried': 'float64',
               'Cargo_and_Mail': 'float64',
               'Km_Flown': 'float64',
               'Int_Trns_Pass_Carried': 'float64'})

t14_df.dtypes

0
Month                     object
Year                      object
No_Landing               float64
Available_Seats_Km       float64
Revenue_Passenger_Km     float64
Passenger_Load_Factor    float64
Passengers_Carried       float64
Cargo_and_Mail           float64
Km_Flown                 float64
Int_Trns_Pass_Carried    float64
dtype: object

In [21]:
#t14_df['Passenger_Load_Factor'] = t14_df['Passenger_Load_Factor']*100
#t14_df['Passenger_Load_Factor'] = t14_df['Passenger_Load_Factor'].apply( lambda x : str(x) + '%')
#t14_df.style.format({'Passenger_load_Factor': "{:.2f%}"})

In [22]:

# Summary Calculations/Tables - '14'
#Basic Calculations
total_landing14 = t14_df["No_Landing"].sum()
avg_available_seats_km14 = t14_df["Available_Seats_Km"].mean()
avg_rev_pass_km14 = t14_df["Revenue_Passenger_Km"].mean()
total_passengers_carried14 = t14_df["Passengers_Carried"].sum()
total_Km_Flown14 = t14_df["Km_Flown"].sum()
total_int_trns_pass14 = t14_df["Int_Trns_Pass_Carried"].sum()
avg_pass_load_factor14 = t14_df["Passenger_Load_Factor"].mean()

#Create DataFrame to hold results
summary_table14 = pd.DataFrame({"Total_Landings": [total_landing14],
                               "Total_Passengers_Carried": [total_passengers_carried14],
                               "Total_Km_Flown": [total_Km_Flown14],
                                "Total_Int_Trns_Pass": [total_int_trns_pass14],
                                "Avg_Rev._Per_Km": [avg_rev_pass_km14],
                                "Avg_Seats_Avai_Per_Km": [avg_available_seats_km14],
                               "Avg_Passenger_Load_Factor": [avg_pass_load_factor14]})

#Minor Data Munging
summary_table14 = summary_table14.round(2)
summary_table14["Avg_Rev._Per_Km"] = summary_table14["Avg_Rev._Per_Km"].map("${:,.2f}".format)
summary_table14["Avg_Passenger_Load_Factor"] = summary_table14["Avg_Passenger_Load_Factor"].map("{:,}".format)
summary_table14 = summary_table14.loc[:,["Total_Landings",
                               "Total_Passengers_Carried",
                               "Total_Km_Flown",
                                "Total_Int_Trns_Pass",
                                "Avg_Rev._Per_Km",
                                "Avg_Seats_Avai_Per_Km",
                               "Avg_Passenger_Load_Factor"]]


##summary_table14

# Summary Calculations/Tables - '15'
#Basic Calculations
total_landing15 = t15_df["No_Landing"].sum()
avg_available_seats_km15 = t15_df["Available_Seats_Km"].mean()
avg_rev_pass_km15 = t15_df["Revenue_Passenger_Km"].mean()
total_passengers_carried15 = t15_df["Passengers_Carried"].sum()
total_Km_Flown15 = t15_df["Km_Flown"].sum()
total_int_trns_pass15 = t15_df["Int_Trns_Pass_Carried"].sum()
avg_pass_load_factor15 = t15_df["Passenger_Load_Factor"].mean()

#Create DataFrame to hold results
summary_table15 = pd.DataFrame({"Total_Landings": [total_landing15],
                               "Total_Passengers_Carried": [total_passengers_carried15],
                               "Total_Km_Flown": [total_Km_Flown15],
                                "Total_Int_Trns_Pass": [total_int_trns_pass15],
                                "Avg_Rev._Per_Km": [avg_rev_pass_km15],
                                "Avg_Seats_Avai_Per_Km": [avg_available_seats_km15],
                               "Avg_Passenger_Load_Factor": [avg_pass_load_factor15]})

#Minor Data Munging
summary_table15 = summary_table15.round(2)
summary_table15["Avg_Rev._Per_Km"] = summary_table15["Avg_Rev._Per_Km"].map("${:,.2f}".format)
summary_table15["Avg_Passenger_Load_Factor"] = summary_table15["Avg_Passenger_Load_Factor"].map("{:,}".format)
summary_table15 = summary_table15.loc[:,["Total_Landings",
                               "Total_Passengers_Carried",
                               "Total_Km_Flown",
                                "Total_Int_Trns_Pass",
                                "Avg_Rev._Per_Km",
                                "Avg_Seats_Avai_Per_Km",
                               "Avg_Passenger_Load_Factor"]]


##summary_table15

# Summary Calculations/Tables - '16'
#Basic Calculations
total_landing16 = t16_df["No_Landing"].sum()
avg_available_seats_km16 = t16_df["Available_Seats_Km"].mean()
avg_rev_pass_km16 = t16_df["Revenue_Passenger_Km"].mean()
total_passengers_carried16 = t16_df["Passengers_Carried"].sum()
total_Km_Flown16 = t16_df["Km_Flown"].sum()
total_int_trns_pass16 = t16_df["Int_Trns_Pass_Carried"].sum()
avg_pass_load_factor16 = t16_df["Passenger_Load_Factor"].mean()

#Create DataFrame to hold results
summary_table16 = pd.DataFrame({"Total_Landings": [total_landing16],
                               "Total_Passengers_Carried": [total_passengers_carried16],
                               "Total_Km_Flown": [total_Km_Flown16],
                                "Total_Int_Trns_Pass": [total_int_trns_pass16],
                                "Avg_Rev._Per_Km": [avg_rev_pass_km16],
                                "Avg_Seats_Avai_Per_Km": [avg_available_seats_km16],
                               "Avg_Passenger_Load_Factor": [avg_pass_load_factor16]})

#Minor Data Munging
summary_table16 = summary_table16.round(2)
summary_table16["Avg_Rev._Per_Km"] = summary_table16["Avg_Rev._Per_Km"].map("${:,.2f}".format)
summary_table16["Avg_Passenger_Load_Factor"] = summary_table16["Avg_Passenger_Load_Factor"].map("{:,}".format)
summary_table16 = summary_table16.loc[:,["Total_Landings",
                               "Total_Passengers_Carried",
                               "Total_Km_Flown",
                                "Total_Int_Trns_Pass",
                                "Avg_Rev._Per_Km",
                                "Avg_Seats_Avai_Per_Km",
                               "Avg_Passenger_Load_Factor"]]


##summary_table16

# Summary Calculations/Tables - '17'
#Basic Calculations
total_landing17 = t17_df["No_Landing"].sum()
avg_available_seats_km17 = t17_df["Available_Seats_Km"].mean()
avg_rev_pass_km17 = t17_df["Revenue_Passenger_Km"].mean()
total_passengers_carried17 = t17_df["Passengers_Carried"].sum()
total_Km_Flown17 = t17_df["Km_Flown"].sum()
total_int_trns_pass17 = t17_df["Int_Trns_Pass_Carried"].sum()
avg_pass_load_factor17 = t17_df["Passenger_Load_Factor"].mean()

#Create DataFrame to hold results
summary_table17 = pd.DataFrame({"Total_Landings": [total_landing17],
                               "Total_Passengers_Carried": [total_passengers_carried17],
                               "Total_Km_Flown": [total_Km_Flown17],
                                "Total_Int_Trns_Pass": [total_int_trns_pass17],
                                "Avg_Rev._Per_Km": [avg_rev_pass_km17],
                                "Avg_Seats_Avai_Per_Km": [avg_available_seats_km17],
                               "Avg_Passenger_Load_Factor": [avg_pass_load_factor17]})

#Minor Data Munging
summary_table17 = summary_table17.round(2)
summary_table17["Avg_Rev._Per_Km"] = summary_table17["Avg_Rev._Per_Km"].map("${:,.2f}".format)
summary_table17["Avg_Passenger_Load_Factor"] = summary_table17["Avg_Passenger_Load_Factor"].map("{:,}".format)
summary_table17 = summary_table17.loc[:,["Total_Landings",
                               "Total_Passengers_Carried",
                               "Total_Km_Flown",
                                "Total_Int_Trns_Pass",
                                "Avg_Rev._Per_Km",
                                "Avg_Seats_Avai_Per_Km",
                               "Avg_Passenger_Load_Factor"]]


##summary_table17

# Summary Calculations/Tables - '18'
#Basic Calculations
total_landing18 = t18_df["No_Landing"].sum()
avg_available_seats_km18 = t18_df["Available_Seats_Km"].mean()
avg_rev_pass_km18 = t18_df["Revenue_Passenger_Km"].mean()
total_passengers_carried18 = t18_df["Passengers_Carried"].sum()
total_Km_Flown18 = t18_df["Km_Flown"].sum()
total_int_trns_pass18 = t18_df["Int_Trns_Pass_Carried"].sum()
avg_pass_load_factor18 = t18_df["Passenger_Load_Factor"].mean()

#Create DataFrame to hold results
summary_table18 = pd.DataFrame({"Total_Landings": [total_landing18],
                               "Total_Passengers_Carried": [total_passengers_carried18],
                               "Total_Km_Flown": [total_Km_Flown18],
                                "Total_Int_Trns_Pass": [total_int_trns_pass18],
                                "Avg_Rev._Per_Km": [avg_rev_pass_km18],
                                "Avg_Seats_Avai_Per_Km": [avg_available_seats_km18],
                               "Avg_Passenger_Load_Factor": [avg_pass_load_factor18]})

#Minor Data Munging
summary_table18 = summary_table18.round(2)
summary_table18["Avg_Rev._Per_Km"] = summary_table18["Avg_Rev._Per_Km"].map("${:,.2f}".format)
summary_table18["Avg_Passenger_Load_Factor"] = summary_table18["Avg_Passenger_Load_Factor"].map("{:,}".format)
summary_table18 = summary_table18.loc[:,["Total_Landings",
                               "Total_Passengers_Carried",
                               "Total_Km_Flown",
                                "Total_Int_Trns_Pass",
                                "Avg_Rev._Per_Km",
                                "Avg_Seats_Avai_Per_Km",
                               "Avg_Passenger_Load_Factor"]]


summary_table18

,Total_Landings,Total_Passengers_Carried,Total_Km_Flown,Total_Int_Trns_Pass,Avg_Rev._Per_Km,Avg_Seats_Avai_Per_Km,Avg_Passenger_Load_Factor
0,493876.0,75167807.0,866629.71,23441455.0,"$12,430,767.76",15169235.75,0.82

In [23]:
merged_traffic = t14_df.append([t15_df, t16_df, t17_df, t18_df], ignore_index=True)

merged_traffic.head().round(2)

0,Month,Year,No_Landing,Available_Seats_Km,Revenue_Passenger_Km,Passenger_Load_Factor,Passengers_Carried,Cargo_and_Mail,Km_Flown,Int_Trns_Pass_Carried
0,January,2014,32306.0,10435588.07,8000545.38,0.77,4038898.0,48154.66,62612.68,1117369.0
1,February,2014,29565.0,9459725.81,7310480.74,0.77,3795690.0,49060.99,56627.23,961636.0
2,March,2014,32660.0,10532746.19,8350454.96,0.79,4259966.0,59447.23,63492.78,1133260.0
3,April,2014,34152.0,11015162.26,8756891.56,0.79,4541627.0,56546.10,64816.66,1160566.0
4,May,2014,35629.0,11539296.05,9189171.88,0.80,4726223.0,58052.49,67822.70,1123392.0

In [24]:
merged_traffic.describe()

0,No_Landing,Available_Seats_Km,Revenue_Passenger_Km,Passenger_Load_Factor,Passengers_Carried,Cargo_and_Mail,Km_Flown,Int_Trns_Pass_Carried
count,60.000000,6.000000e+01,6.000000e+01,60.000000,6.000000e+01,60.000000,60.000000,6.000000e+01
mean,38230.283333,1.356224e+07,1.065149e+07,0.783302,5.374439e+06,79992.182817,72861.947667,1.640274e+06
std,4476.016048,1.910215e+06,1.779823e+06,0.035022,9.336264e+05,24678.939540,7286.338475,3.413862e+05
min,29565.000000,9.459726e+06,7.310481e+06,0.721020,3.795690e+06,48154.656000,56627.233000,9.616360e+05
25%,35047.500000,1.214103e+07,9.423244e+06,0.756645,4.686856e+06,59409.462500,68056.693750,1.390494e+06
50%,38022.000000,1.372712e+07,1.041189e+07,0.786103,5.363283e+06,71116.272020,72358.338000,1.678260e+06
75%,41300.250000,1.493980e+07,1.173488e+07,0.803859,5.938175e+06,98791.616443,77259.209750,1.922879e+06
max,47321.000000,1.720170e+07,1.473071e+07,0.856352,7.568919e+06,132308.387800,90589.371000,2.258827e+06

In [25]:
#Data Munging Continued 
merged_traffic['Passenger_Load_Factor'] = merged_traffic['Passenger_Load_Factor'].apply(lambda x: x*100)

merged_traffic = merged_traffic.round(2)
#merged_traffic ["No_Landing"] = merged_traffic["No_Landing"].map("{:,.2f}".format)
#merged_traffic ["Available_Seats_Km"] = merged_traffic["Available_Seats_Km"].map("{:,.2f} km".format)
#merged_traffic ["Revenue_Passenger_Km"] = merged_traffic["Revenue_Passenger_Km"].map("{:,.2f} km".format)
#merged_traffic ["Passenger_Load_Factor"] = merged_traffic["Passenger_Load_Factor"].map("{:,.2f}%".format)
#merged_traffic ["Cargo_and_Mail"] = merged_traffic["Cargo_and_Mail"].map("{:,.2f}".format)
#merged_traffic ["Km_Flown"] = merged_traffic["Km_Flown"].map("{:,.2f} km".format)
#merged_traffic ["Passengers_Carried"] = merged_traffic["Passengers_Carried"].map("{:,.2f}".format)
#merged_traffic ["Int_Trns_Pass_Carried"] = merged_traffic["Int_Trns_Pass_Carried"].map("{:,.2f}".format)

merged_traffic = merged_traffic.loc[:,["Month",
                                       "Year",
                                       "No_Landing",
                                       "Available_Seats_Km",
                                       "Revenue_Passenger_Km",
                                       "Passenger_Load_Factor",
                                       "Passengers_Carried",
                                       "Cargo_and_Mail",
                                       "Km_Flown",
                                       "Int_Trns_Pass_Carried"]]

In [26]:
#Traffic Table Seaborn Gradient Style - All Years
#cm = sns.light_palette("green", as_cmap=True)
#merged_traffic = merged_traffic.style.background_gradient(cmap=cm)

#Preview
merged_traffic.head()

0,Month,Year,No_Landing,Available_Seats_Km,Revenue_Passenger_Km,Passenger_Load_Factor,Passengers_Carried,Cargo_and_Mail,Km_Flown,Int_Trns_Pass_Carried
0,January,2014,32306.0,10435588.07,8000545.38,76.67,4038898.0,48154.66,62612.68,1117369.0
1,February,2014,29565.0,9459725.81,7310480.74,77.28,3795690.0,49060.99,56627.23,961636.0
2,March,2014,32660.0,10532746.19,8350454.96,79.28,4259966.0,59447.23,63492.78,1133260.0
3,April,2014,34152.0,11015162.26,8756891.56,79.50,4541627.0,56546.10,64816.66,1160566.0
4,May,2014,35629.0,11539296.05,9189171.88,79.63,4726223.0,58052.49,67822.70,1123392.0

In [27]:
# Summary Calculations/Tables - 'Merged'
#Basic Calculations
Total_Landing_Merged = merged_traffic["No_Landing"].sum()
Avg_Avail_Seats_Km_Merged = merged_traffic["Available_Seats_Km"].mean()
Avg_Rev_Pass_Km_Merged = merged_traffic["Revenue_Passenger_Km"].mean()
Total_Passengers_Carried_Merged = merged_traffic["Passengers_Carried"].sum()
Total_Km_Flown_Merged = merged_traffic["Km_Flown"].sum()
Total_Int_Trns_Pass_Merged = merged_traffic["Int_Trns_Pass_Carried"].sum()
Avg_Pass_Load_Factor_Merged = merged_traffic["Passenger_Load_Factor"].mean()

#Create DataFrame to hold results
summary_table_merged = pd.DataFrame({"Total_Landing": [Total_Landing_Merged],
                               "Total_Passengers_Carried": [Total_Passengers_Carried_Merged],
                               "Total_Km_Flown": [Total_Km_Flown_Merged],
                                "Total_Int_Trns_Pass": [Total_Int_Trns_Pass_Merged],
                                "Avg_Rev._Per_Km": [Avg_Rev_Pass_Km_Merged],
                                "Avg_Seats_Avai_Per_Km": [Avg_Avail_Seats_Km_Merged],
                               "Avg_Passenger_Load_Factor": [Avg_Pass_Load_Factor_Merged]})

merged_traffic = merged_traffic.astype({'No_Landing': 'float64',
               'Available_Seats_Km': 'float64',
               'Revenue_Passenger_Km': 'float64',
               'Passenger_Load_Factor': 'float64',
               'Passengers_Carried': 'float64',
               'Cargo_and_Mail': 'float64',
               'Km_Flown': 'float64',
               'Int_Trns_Pass_Carried': 'float64'})

merged_traffic.dtypes
summary_table_merged.dtypes

Total_Landing                float64
Total_Passengers_Carried     float64
Total_Km_Flown               float64
Total_Int_Trns_Pass          float64
Avg_Rev._Per_Km              float64
Avg_Seats_Avai_Per_Km        float64
Avg_Passenger_Load_Factor    float64
dtype: object

In [28]:
summary_table_merged = summary_table_merged.round(2)
summary_table_merged ["Total_Landing"] = summary_table_merged["Total_Landing"].map("{:,}".format)
summary_table_merged ["Total_Passengers_Carried"] = summary_table_merged["Total_Passengers_Carried"].map("{:,}".format)
summary_table_merged ["Total_Km_Flown"] = summary_table_merged["Total_Km_Flown"].map("{:,.2f} Km".format)
summary_table_merged ["Total_Int_Trns_Pass"] = summary_table_merged["Total_Int_Trns_Pass"].map("{:,.2f}".format)
summary_table_merged ["Avg_Rev._Per_Km"] = summary_table_merged["Avg_Rev._Per_Km"].map("$ {:,.2f}".format)
summary_table_merged ["Avg_Seats_Avai_Per_Km"] = summary_table_merged["Avg_Seats_Avai_Per_Km"].map("{:,.2f}".format)
summary_table_merged ["Avg_Passenger_Load_Factor"] = summary_table_merged["Avg_Passenger_Load_Factor"].map("{:,.2f} %".format)

summary_table_merged = summary_table_merged.loc[:,["Total_Landings",
                                       "Total_Passengers_Carried",
                                       "Total_Km_Flown",
                                       "Total_Int_Trns_Pass",
                                       "Avg_Rev._Per_Km",
                                       "Avg_Seats_Avai_Per_Km",
                                       "Avg_Passenger_Load_Factor"]]





summary_table_merged

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,Total_Landings,Total_Passengers_Carried,Total_Km_Flown,Total_Int_Trns_Pass,Avg_Rev._Per_Km,Avg_Seats_Avai_Per_Km,Avg_Passenger_Load_Factor
0,NaN,"322,466,321.0","4,371,716.86 Km","98,416,427.00","$ 10,651,487.56","13,562,240.89",78.33 %